        /* Stil für das Bild */
       * {
        background-color:#99ccff;
       }       

       #imageButton {
            width: 150px;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s;
                 display: block;
  margin-left: auto;
  margin-right: auto;
        }

        #imageButton.clicked {
            transform: scale(1.2); /* Bild beim Klick vergrößern */
        }
