        /* Stil für das Bild */
* {
        background-color:#99ccff;
}       

#imageButton {
            width: 150px;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s;
                position:center;
        }

        #imageButton.clicked {
            transform: scale(1.2); /* Bild beim Klick vergrößern */
        }
